.card
{
	display: grid;

	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;

}

.top
{
	display: grid;

	grid-column: 1 / span 2;

}

.bottom_right
{
	display: grid;
}

.bottom_left
{
	display: grid;
}

